#body{
	background-image: url(images/portrait_of_Catherine_looking_good.jpg);
    background-size: cover;
    color: #ffffff;
}
 
 #footer{
 	color: #ffffff;
    width: 100%;
    position: fixed;
    bottom: 0;
}

body {
	font-family: Garamond;
	padding-left: 15px;
}
